body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    min-height: 100vh;
font-family:  'Zen Kaku Gothic Antique';}

header{
    display: flex;
    width: 100vw;
    height: 40px;
    background: blue;
    margin-bottom: 40px;
    padding-left: 24px;

    align-items: center;
}
header nav a{
    text-decoration: none;
    color: orange;
    font-family: Tahoma;
    font-size: 16px;
    font-weight: 700px;
    padding-left: 20px;
 
 }

header span {
    color: orange;
}
.container {
    display: flex;

    width: 75vw;
    height: auto;
    background-color: rgb(218, 218, 218);
}
#promocao {
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    width: 80%;
}
#promocao li{
    list-style: none;
    font-size: 12px;
    font-family: tahoma;
    font-weight: 500;
}
#promocao li:hover{
    background: rgba(0, 0, 0, 0.767);
    height: 25px;
    border: 0.5px solid rgb(0, 243, 0);

    width: 70vw;
    color: white;
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section {
    padding-top: 10%;
}

section button {
    box-sizing: border-box;
    width: 20vw;
    height: 42px;
    background: rgba(0, 0, 0, 0.767);
    color: aliceblue;
    border: none;
    border-radius: 15px;

    font-family: inherit;
    font-size: 12px;
    font-weight: 400;
}

section button:hover {
    background-color: rgba(60, 250, 7, 0.589);
    transition: 1s;
}

.pontuacao{
    width: 80px;
    height: 80px;

}

#reduce{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}
.pontos{
    display: flex;
    justify-content: center;
    border-radius: 2px;
    align-items: center;
    width: 130px;
    height: 80px;
    background: rgba(0, 0, 0, 0.767);
    color:white;
    margin-left: 20px;
    
}

.pontos h2{
    font-size: 16px;
    font-weight: 700;
}

input{
    box-sizing: border-box;
    padding-left: 20px;
    height: 40px;
    border-radius: 7px;
    width: 50vw;
    border: 1px solid blue;
    margin-bottom: 20px;

    font-style: normal;
  font-family:  'Arial Narrow Bold', sans-serif;
    font-weight: 500px;
}